* {
    font-family: Helvetica, sans-serif;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#visibleCounter {
    border: none;
    font-size: 42px;
    text-align: center;
}

.userStuff {
    border-radius: 10%;
    margin: 20px;
}

#numInput {
    text-align: center;
    font-size: 32px;
    width: 72px;
    height: 48px;
    border: 4px solid #888888;
}

.buttons {
    width: 52px;
    height: 52px;
    font-size: 32px;
    border: 0;
    color: #ffffff;
    background-color: #888888;
    border: 1px solid #888888;
}

.buttons:hover {
    background-color: #ffffff;
    color: #000000
}